<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- Default config and other properties
	En un proyecto real se tomó la decisión de configurar dos salidas de mensajes: por consola para el perfil
	development
	y por fichero para el resto de perfiles.
	Los ficheros rotan diariamente (es decir, cada día se archiva el log generado) y se quieren conservar los registros
	de los últimos 20 días. -->
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE"
		value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-{java.io.tmpdir:-/tmp}}/}spring.log}" />

	<!-- Profile independent loggers -->
	<logger name="net.javaguides.springboot.tutorial" level="DEBUG" />
	<logger name="org.springframework" level="INFO" />

	<!-- Development profile solo saca la consola -->
	<springProfile name="dev">
		<appender name="APPENDER"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${CONSOLE_LOG_PATTERN}</pattern>
				<charset>utf8</charset>
			</encoder>
		</appender>

		<logger name="org.springframework.security" level="DEBUG" />
	</springProfile>

	<!-- Staging/production profile  solo escribe en fichero-->
	<springProfile name="prod">
		<appender name="APPENDER"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
			<file>${LOG_FILE}</file>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_FILE}.%d</fileNamePattern>
				<maxHistory>20</maxHistory>
			</rollingPolicy>
		</appender>
	</springProfile>

	<!-- Root logger -->
	<root level="INFO">
		<appender-ref ref="APPENDER" />
	</root>
</configuration>