<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row" th:fragment="verEditarComentarios">
	<div class="col-lg-12">

		<!-- CAJA TABLA -->
		<div class="ibox float-e-margins">

			<!-- TITULO TABLA -->
			<div class="ibox-title">
				<h5 id="tituloTabDetalle">Actualizar comentario</h5>
			</div>
			<!-- FIN TITULO TABLA -->
			<!-- CONTENIDO -->
			<div class="ibox-content" style="min-height: 130px;">
				<div class="row">
					<div id="capaId" class="col-lg-3 form-group">
							<label class="col-lg-5" id="id_accion_label">Id Comité</label> 
							<div class="col-lg-7">
								<input 
									disabled="disabled" id="id_comentario" class="form-control"
									type="text" size="16" value="">
							</div>
					</div>
					<div id="idvista" class="col-lg-3 form-group">
							<label class="col-lg-5" id="id_vista">Id Vista</label> 
							<div class="col-lg-7">
								<input 
									disabled="disabled" id="id_vistaa" class="form-control"
									type="text" size="16" value="">
							</div>
					</div>
				</div>
			<!--	<div class="row">
					<div id="capaTipoPeriodo" class="col-lg-6">
						<label class="col-lg-3">Tipo periodo</label>
						<div class="col-lg-7">
							   <select id="tipo_periodo"
								class="form-control col-lg-6" name="tipoBuscador2">
								<option>Semana</option>
								<option>Mes</option>
							</select>
						</div>
					</div>
				</div>-->
				<div class="row ">
				<div class="col-lg-7">
							<div class="form-group">
								<label class="col-lg-2" >Vista</label>
								<div class="col-lg-10">
									<select id="verEditarVistas" class="form-control m-b" name="kpi"   th:onchange="|comentarios.selectsVerEditar()|" >
 										<option  th:each="vista: ${vistas2}" th:id="${vista.id_titulo}"  th:text="${vista.vista}" th:placeholder="${vista.id_titulo eq '1'}">
									</select>
									</div>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="form-group">
								<label class="col-lg-1">KPI</label>
								<div class="col-lg-10">
									<select id="verEditarkpi" class="form-control m-b" name="kpi" >
 										<option  th:each="kpiVista : ${kpisVistas}" th:id="${kpiVista.id_titulo}" style="display:none" th:text="${kpiVista.KPI}" >
									</select>
								</div>
							</div>
						</div>
					</div>		
				<div class="row">
					<div class="col-lg-4">
						<div class="form-group" id="tipoComentario">
							<label>Tipo comentario</label>
							<textarea  class="form-control m-b" disabled="disabled"
								name="tipoCo" id="tipoC" rows="1" maxlength="20"
								placeholder="">
							</textarea>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group" id="ipo_periodo">
							<label>Tipo periodo</label>
							<textarea  class="form-control m-b" disabled="disabled"
								name="tipoCo" id="tipop" rows="1" maxlength="20"
								placeholder="">
							</textarea>
						</div>
					</div>	
					<div class="col-lg-4">
						<div class="form-group" id="fecha">
							<label>Fecha</label>
							<textarea  class="form-control m-b" disabled="disabled"
								name="tipoCo" id="fech" rows="1" maxlength="20"
								placeholder="">
							</textarea>
						</div>
					</div>				

					<div class="col-lg-12">
						<div class="form-group">
							<label>Comentario 1</label>
							<textarea id="comentario_1" class="form-control m-b"
								name="tpoIndicendia" rows="4" maxlength="250"
								placeholder="A rellenar (250 caracteres max.)">
							</textarea>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="form-group">
							<label>Comentario 2</label>
							<textarea id="comentario_2" class="form-control m-b"
								name="tpoIndicendia" rows="4" maxlength="300"
								placeholder="A rellenar (300 caracteres max.)">
							</textarea>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="form-group">
							<label>Comentario 3</label>
							<textarea id="comentario_3" class="form-control m-b"
								name="tpoIndicendia" rows="4" maxlength="300"
								placeholder="A rellenar (300 caracteres max.)">
							</textarea>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="form-group" id="autor">
							<label>Autor</label>
							<input placeholder="" disabled="disabled"
								type="text"
								id="autorr" maxlength="150" class="form-control"
								name="text"/>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group" id="timestamp">
							<label>Timestamp</label> <input  class="form-control" id="times" disabled="disabled"
								placeholder="" type="text" maxlength="100"
								size="100" value="">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<!--AIM NUMERO DE FILA A ACTUALIZAR -->
						<input id="hiddenNumFila" style="display: none"
							class="form-control m-b" value=""> <input
							id="fechaSemana" style="display: none" class="form-control m-b"
							value="">
					</div>
					<div class="col-lg-8">
						<div class="col-lg-12 form-group"
							style="margin-top: 25px !important">
							<button type="button" class="btn btn-w-m btn-info btn-sm"
								style="margin-left: 0px !important; min-width: 90px !important"
								th:onclick="|comentarios.volverAlistado('null')|">Volver</button>
							<button type="button" id="botonBorrarCampos"
								class="btn btn-w-m btn-success btn-sm"
								style="margin-left: 0px !important; min-width: 90px !important"
								th:onclick="|comentarios.borrarCamposEditables('null')|">Borrar
								campos</button>
							<button type="button" id="botonAnnadir"
								class="btn btn-w-m btn-success btn-sm"
								style="margin-left: 0px !important; min-width: 90px !important"
								th:onclick="|comentarios.insertarActualizarAccionRelevante()|">Añadir</button>
							<button type="button" id="botonBorrarRegistro"
								class="btn btn-w-m btn-danger btn-sm"
								style="margin-left: 0px !important; min-width: 90px !important"
								th:onclick="|comentarios.borrarAccion(null)|">Borrar</button>
							<button type="button" class="btn btn-w-m btn-success btn-sm"
								id="botonActualizar"
								style="margin-left: 0px !important; min-width: 90px !important"
								th:onclick="|comentarios.insertarActualizarAccionRelevante()|">Actualizar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FIN CONTENIDO -->
</html>