<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<style>

.truncate {
  max-width:50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>

<!-- ROW -->
<div class="row"  th:fragment="buscadorComentarios">
	<div class="col-lg-12">

		
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="row col-lg-12">
					<form method="get" action="incidencias">
					<div class="col-lg-6">
							<div class="form-group">
								<label class="col-lg-1" >Vista</label>
								
								<div class="col-lg-11">
									<select id="filtroVistas"  style="font-size:12px !important" class="form-control m-b" name="kpi" th:onchange="|comentarios.selects()|" >
 										<option  th:each="vista : ${vistas}" th:id="${vista.id_titulo}"  th:text="${vista.vista}" >
									</select>
									</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label class="col-lg-1">KPI</label>
								<div class="col-lg-11">
									<select id="filtrokpi" style="font-size:12px !important" class="form-control m-b" name="kpi" >
 										<option  th:each="kpiVista : ${kpisVistas}" style="display:none" th:id="${kpiVista.id_titulo}"  th:text="${kpiVista.KPI}" >
									</select>
								</div>
							</div>
						</div>										
						<!--<div class="col-lg-12">
								
								<div class="col-lg-2 form-group">
									<button type="button" class="btn btn-w-m btn-success btn-sm"
										style="margin-left: 0px !important; min-width: 90px !important"
										th:onclick="|comentarios.buscarIncidencias('null')|">Buscar comentarios</button>
								</div>
								<div class="col-lg-4 form-group">
									<button type="button" class="btn btn-w-m btn-success btn-sm"
										style="margin-left: 0px !important; min-width: 90px !important"
										th:onclick="|comentarios.annadirIncidencias('null')|">Añadir
										 comentario</button>
								</div>
								<div class="col-lg-3 form-group">
									<button type="button" class="btn btn-w-m btn-success btn-sm"
										style="margin-left: 0px !important; min-width: 90px !important"
										th:onclick="|comentarios.buscarComentariosIncidencias('null')|">Buscar indidencias destacadas</button>
								</div>
								<div class="col-lg-3 form-group">
									<button type="button" class="btn btn-w-m btn-success btn-sm"
										style="margin-left: 0px !important; min-width: 90px !important"
										th:onclick="|comentarios.annadirComentariosIncidencias('null')|">Añadir
										indicencia destacada</button>
								</div>
						</div>-->
					</form>
				</div>
				

				<table id="tabla_comentarios"
					class="nowrap table table-striped table-bordered table-hover"
					width="100%" cellspacing="0">
					<!-- Ok, scroll horizontal -->
					<!-- <thead>...<thead>  Los datos del thead los creamos por javascript en DataTable(){columns:...} -->
					<!-- <tbody>...</tbody> Los datos del tbody los pasamos por AJAX -->
				</table>
				<!-- <table id="id_datatable" style="width: 100%;"> -->
				<!-- FIN TABLA -->


				<table id="tabla_comentarios_incidencias"
					class="nowrap table table-striped table-bordered table-hover"
					width="100%" cellspacing="0">
					<!-- Ok, scroll horizontal -->
					<!-- <thead>...<thead>  Los datos del thead los creamos por javascript en DataTable(){columns:...} -->
					<!-- <tbody>...</tbody> Los datos del tbody los pasamos por AJAX -->
				</table>
				<!-- <table id="id_datatable" style="width: 100%;"> -->
				<!-- FIN TABLA -->
			<!-- <div class="ibox-content"> -->
			<!-- FIN CONTENIDO -->
		</div>
		</div>
		<!-- FIN CONTENIDO -->
	</div>
	<!-- FIN CAJA TABLA -->
</div>
</html>
